---
import { ChevronRight, Menu } from "@lucide/astro";

import ProfileRow from "@/user/ui/ProfileRow.svelte";

import ThemeController from "@/shared/ui/components/ThemeController.svelte";
import Growplex from "@/shared/assets/icons/Growplex.svg";
import SelectOrg from "@/org/ui/SelectOrg.svelte";
import SelectProject from "@/project/ui/SelectProject.svelte";
import SelectIntegration from "@/integration/ui/SelectIntegration.svelte";

import SidebarNav from "./_AppSidebarNav.svelte";
import App from "./_App.astro";

const { title, favicon = Growplex.src } = Astro.props;
---

<App title={title} favicon={favicon}>
  <div class="drawer lg:drawer-open">
    <input id="sidebar-toggle" type="checkbox" class="drawer-toggle" />

    <div class="drawer-content flex flex-col h-screen">
      <header class="navbar bg-base-100 border-b border-base-300 px-1 lg:px-6">
        <!-- MOBILE HAMBURGER -->
        <div class="flex-none lg:hidden">
          <label for="sidebar-toggle" class="btn btn-square btn-ghost">
            <Menu class="w-6 h-6" />
          </label>
        </div>

        <div
          class="flex-1 px-2 text-center lg:text-left flex items-center gap-2"
        >
          <SelectOrg client:only />
          <div><ChevronRight /></div>
          <SelectProject client:only />
          <div><ChevronRight /></div>
          <SelectIntegration client:only />
        </div>

        <div class="flex items-center gap-2">
          <ThemeController client:only />
        </div>
      </header>

      <main class="flex-1 overflow-auto">
        <slot />
      </main>
    </div>

    <div class="drawer-side">
      <label for="sidebar-toggle" class="drawer-overlay"></label>
      <aside
        class="w-72 lg:w-64 bg-base-100 border-r border-base-300 flex flex-col h-screen pt-4"
      >
        <div
          class="flex items-center justify-center gap-1 mb-4 select-none relative"
        >
          <Growplex class="size-8" />
          <h1 class="text-xl font-semibold text-primary">Growplex</h1>

          <div
            class="absolute -top-1 right-5 badge badge-soft badge-info badge-sm font-semibold"
          >
            Beta
          </div>
        </div>

        <SidebarNav
          active={title}
          client:only
          transition:persist="sidebar-nav"
        />

        <div class="mt-auto">
          <ProfileRow
            client:only
            transition:persist="profile-row"
            class="w-full"
            active={title}
          />
        </div>
      </aside>
    </div>
  </div>
</App>
