---
import Growplex from "@/shared/assets/icons/Growplex.svg";

import App from "./_App.astro";

const { title, favicon = Growplex.src } = Astro.props;
---

<App title={title} favicon={favicon}>
  <main class="mx-auto mt-8 max-w-2xl">
    <div class="bg-card border-card rounded-lg border p-4 shadow-lg">
      <slot />
    </div>
  </main>
</App>
