---
import AppDashboard from "@/pages/_layouts/app/AppDashboard.astro";

import Preview from "@/chat/ui/widgets/Preview.svelte";

import ChatForm from "@/chat/ui/widgets/ChatForm.svelte";
import AgentForm from "@/agent/ui/widgets/AgentForm.svelte";
import SourcesIntegrationList from "@/source/ui/SourcesIntegrationList.svelte";
---

<AppDashboard title="Integration Wizard">
  <div class="w-full h-full relative grid grid-cols-[1fr_1fr_400px]">
    <div class="flex flex-col gap-4">
      <AgentForm class="flex-1" client:load transition:persist="agent-form" />
      <SourcesIntegrationList
        class="flex-1"
        client:load
        transition:persist="sources-integration-list"
      />
    </div>

    <div class="h-full overflow-hidden">
      <ChatForm class="h-full" client:load transition:persist="chat-form" />
    </div>

    <div class="h-full overflow-hidden">
      <Preview client:load transition:persist="chat-preview" />
    </div>
  </div>
</AppDashboard>
