---
import AppDashboard from "@/pages/_layouts/app/AppDashboard.astro";

import ChatPreview from "@/chat/ui/widgets/Preview.svelte";

import ChatForm from "@/chat/ui/widgets/ChatForm.svelte";
import AgentForm from "@/agent/ui/widgets/AgentForm.svelte";
import SourcesIntegrationList from "@/source/ui/SourcesIntegrationList.svelte";
---

<AppDashboard title="Integration Wizard">
  <div class="w-full h-full relative grid grid-cols-[1fr_1fr_400px]">
    <div class="flex flex-col gap-4">
      <AgentForm class="flex-1" client:load />
      <SourcesIntegrationList class="flex-1" client:load />
    </div>

    <div class="h-full overflow-hidden">
      <ChatForm class="h-full" client:load />
    </div>

    <div class="h-full overflow-hidden">
      <ChatPreview block client:load />
    </div>
  </div>
</AppDashboard>
