---
export const prerender = true;
import type { GetStaticPaths } from "astro";
import { getEntry, render } from "astro:content";
import Content from "@/shared/ui/layouts/content/Content.astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog");
  const slugs = posts.map((post) => post.id);
  return slugs.map((slug) => ({
    params: { slug },
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;

const post = await getEntry("blog", slug!);
const { Content: BlogContent } = await render(post!);
---

<Content title={post?.data.title}>
  <div class="flex gap-2 mb-4">
    <aside class="flex-1 hidden md:block sticky top-20 self-start">
      MORE BLOG
    </aside>

    <article class="w-prose max-w-screen prose">
      <div class="prose dark:prose-invert">
        <h1>{post?.data.title}</h1>
        <p>{post?.data.description}</p>
        <BlogContent />
      </div>
    </article>

    <aside class="flex-1 hidden lg:block sticky top-20 self-start">
      <div>Subscribe</div>
    </aside>
  </div>
</Content>
