---
import "../../styles/global.css";
import { ClientRouter } from "astro:transitions";

import Posthog from "../global/Posthog.astro";
import ThemeLoad from "../global/ThemeLoad.astro";
import CookiesAccept from "../global/CookiesAccept.svelte";
import PortalHost from "../global/PortalHost.svelte";

const {
  title,
  favicon = "/LOGO.png",
  needCookies = true,
  loadTheme = true,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href={favicon} />

    <title>{title}</title>

    <ClientRouter />
    <Posthog />

    {loadTheme && <ThemeLoad />}

    <slot name="head" />
  </head>
  <body>
    <slot />

    {needCookies && <CookiesAccept client:only />}

    <PortalHost client:only />
  </body>
</html>
