---
import "@/shared/styles/global.css";
import { ClientRouter } from "astro:transitions";

import Posthog from "@/shared/ui/global/Posthog.astro";
import ThemeLoad from "@/shared/ui/global/ThemeLoad.astro";
import CookiesAccept from "@/shared/ui/global/CookiesAccept.svelte";
import PortalHost from "@/shared/ui/global/PortalHost.svelte";

const {
  title,
  favicon = "/LOGO.png",
  needCookies = true,
  loadTheme = true,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href={favicon} />

    <title>{title}</title>

    <ClientRouter />
    <Posthog />

    {loadTheme && <ThemeLoad />}

    <slot name="head" />
  </head>
  <body class="bg-transparent">
    <PortalHost client:only />

    <div
      class="bg-transparent"
      transition:persist="chat-widget-root"
      id="chat-widget-root"
    >
    </div>

    <slot />

    {needCookies && <CookiesAccept client:only />}
  </body>
</html>
