---
import Growplex from "@/shared/assets/icons/Growplex.svg";

import Root from "../Root.astro";
import Header from "./ContentHeader.astro";
import Footer from "./ContentFooter.astro";

import ChatLoad from "@/pages/_global/ChatLoad.astro";
import FormCTA from "@/shared/ui/components/FormCTA.svelte";

const { title, favicon = Growplex.src } = Astro.props;
---

<Root title={title} favicon={favicon}>
  <Header active={title} />

  <main id="main-content" class="mt-6 px-4 mx-auto max-w-screen-xl">
    <slot />
  </main>

  <Footer />

  <ChatLoad />

  <div
    class="fixed bottom-8 left-1/2 transform -translate-x-1/2 rounded-3xl md:hidden z-50"
  >
    <button
      onclick="CTAMainModal.showModal()"
      class="btn btn-lg rounded-3xl btn-primary px-16"
    >
      Contact
    </button>
  </div>

  <FormCTA client:only />
</Root>
