---

---

<footer class="footer md:footer-horizontal bg-base-200 text-base-content p-10 border-t border-base-300">
  <nav>
    <h6 class="footer-title">Services</h6>
    <a href="/products/forge" class="link link-hover">IT End2End Forge</a>
    <a href="https://gold-swan.is" target="_blank" rel="noopener" class="link link-hover"
      >Gold Swan ALL-IN Agency</a
    >
  </nav>
  <nav>
    <h6 class="footer-title">Company & Contacts</h6>
    <a href="/about" class="hidden link link-hover">About us</a>
    <a target="_blank" rel="noopener" href="https://t.me/growplex" class="link link-hover"
      >Manager's Telegram</a
    >
    <a
      target="_blank"
      rel="noopener"
      href="mailto:growplexdev@gmail.com"
      class="link link-hover">growplexdev@gmail.com</a
    >
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a href="/terms-and-privacy" class="link link-hover">Terms & Privacy</a>
  </nav>
  <form class="hidden">
    <h6 class="footer-title">Newsletter</h6>
    <fieldset class="w-80">
      <label class="label label-text">Enter your email address</label>
      <div class="join">
        <input
          type="email"
          placeholder="example@gmail.com"
          class="input input-bordered join-item"
        />
        <button class="btn btn-primary join-item">Subscribe</button>
      </div>
      <p class="text-xs text-base-content/60 mt-1">
        By subscribing, you agree to receive our newsletter. We may occasionally
        send you updates and promotions. You can unsubscribe at any time.
      </p>
    </fieldset>
  </form>
</footer>
