@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin "daisyui" {
  themes: all;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: var(--color-lime-700);
  --color-secondary: var(--color-yellow-600);
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: var(--color-lime-600);
  --color-secondary: var(--color-yellow-500);
}
