@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin "daisyui" {
  themes: all;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "corporate";
  default: true;
  --color-primary: var(--color-lime-600);
  --color-secondary: var(--color-amber-600);
}

@plugin "daisyui/theme" {
  name: "sunset";
  default: true;
  --color-primary: var(--color-lime-500);
  --color-secondary: var(--color-yellow-500);
  --color-neutral-content: var(--color-slate-200);
  --color-neutral: var(--color-slate-500);
}
