---
import "../shared/styles/global.css";
import { ClientRouter } from "astro:transitions";

import Posthog from "../shared/ui/components/Posthog.astro";
import ThemeLoad from "../shared/ui/components/ThemeLoad.astro";
import CookiesAccept from "../shared/ui/components/CookiesAccept.svelte";

import AppState from "./AppGlobal.svelte";
import PortalHost from "../shared/ui/PortalHost.svelte";

const { title, active } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/LOGO.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ThemeLoad />
    <ClientRouter />
    <Posthog />
    <AppState client:only transition:persist="app" />
  </head>
  <body>
    <slot />

    <CookiesAccept client:only />

    <PortalHost client:only />
  </body>
</html>
