---
import { Image } from "astro:assets";
import Logo from "../assets/LOGO.png";
import ThemeController from "../components/ThemeController.svelte";
import FormCTA from "../components/FormCTA.svelte";

const { active } = Astro.props;
---

<header
  class="max-w-screen-xl flex justify-between items-center border-b border-base-300 px-4 py-2 mx-auto rounded-2xl shadow sticky top-0 md:top-1 bg-base-100 z-10"
>
  <a href="/" class="inline-flex text-xl font-bold relative items-center gap-2">
    <Image
      src={Logo}
      alt="logo"
      class="rounded-2xl"
      width={40}
      loading="lazy"
    />
    <span>Growplex</span>
    <span class="absolute top-1 -right-18 text-xs hidden">by Gold Swan</span>
  </a>

  <!-- Desktop -->
  <nav class="gap-5 hidden md:flex">
    <a href="/" class={`link link-hover ${active === "home" && "font-bold"}`}
      >Home</a
    >
    <a
      href="/products/forge"
      class={`link link-hover ${active === "forge" && "font-bold"}`}>Forge</a
    >
    <a
      href="/products"
      class={`link link-hover ${active === "products" && "font-bold"}`}
      >Products</a
    >
  </nav>

  <div class="items-center gap-3 flex">
    <div class="hidden md:block">
      <ThemeController client:load />
    </div>

    <div>
      <slot name="CTA">
        <button
          onclick="CTAMainModal.showModal()"
          class="btn btn-primary rounded-xl px-4 hidden md:inline-block"
        >
          Contact Us
        </button>
      </slot>

      <div
        class="fixed bottom-8 left-1/2 transform -translate-x-1/2 rounded-3xl md:hidden"
      >
        <button
          onclick="CTAMainModal.showModal()"
          class="btn btn-lg rounded-3xl btn-primary px-16 btn-outline bg-base-100"
        >
          Contact
        </button>
      </div>

      <FormCTA client:only />
    </div>
  </div>

  <!-- Mobile -->
  <div class="md:hidden">
    <label for="modal_burger" class="btn btn-circle swap swap-rotate">
      <!-- hamburger icon -->
      <svg
        class="swap-off fill-current"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 512 512"
      >
        <path
          d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
        ></path>
      </svg>
    </label>

    <input type="checkbox" id="modal_burger" class="modal-toggle" />
    <div class="modal modal-end" role="dialog">
      <div class="relative modal-box min-w-sm">
        <label
          for="modal_burger"
          class="btn btn-sm btn-circle absolute right-4 top-2 text-lg font-bold"
          >✕</label
        >
        <h3 class="text-xl font-bold text-center">Navigation</h3>
        <nav class="*:text-lg space-y-2 mb-2">
          <a
            href="/"
            class={`block link link-hover ${active === "home" && "font-bold"}`}
            >Home</a
          >
          <a
            href="/products/forge"
            class={`block link link-hover ${active === "forge" && "font-bold"}`}
            >Forge</a
          >
          <a
            href="/products"
            class={`block link link-hover ${active === "products" && "font-bold"}`}
            >Products</a
          >
        </nav>

        <h4 class="text-xl font-bold text-center">Controls</h4>
        <ThemeController client:load size="size-12" />
      </div>
      <label class="modal-backdrop" for="modal_burger">Close</label>
    </div>
  </div>
</header>
