---
import AppRoot from "../../app/AppRoot.astro";
import AppDashboard from "../../app/shared/AppDashboard.astro";
---

<AppRoot title="Chat Rooms" active="chat-rooms">
  <AppDashboard pageName="Chat Rooms">
    <h1>Chat Rooms</h1>
  </AppDashboard>
</AppRoot>
