---
import AppRoot from "../../app/AppRoot.astro";
import AppDashboard from "../../app/shared/AppDashboard.astro";
---

<AppRoot title="Growplex | App Home" active="home">
  <AppDashboard pageName="Home">
    <h1>APP PAGE ROOT</h1>
  </AppDashboard>
</AppRoot>
