---
import Root from "../../layouts/Root.astro";
import AppLayout from "../../layouts/App.astro";
---

<Root title="Growplex | App Home">
  <AppLayout pageName="Home">
    <h1>APP PAGE ROOT</h1>
  </AppLayout>
</Root>
