---
import AppRoot from "../../app/AppRoot.astro";
import AppDashboard from "../../app/shared/AppDashboard.astro";
---

<AppRoot title="Growplex | App Home" active="profile">
  <AppDashboard pageName="Profile">
    <h1>Profile</h1>
  </AppDashboard>
</AppRoot>
