---
import Root from "../../layouts/Root.astro";
import AppLayout from "../../layouts/App.astro";
import ClientState from "../../layouts/ClientState.astro";
---

<Root title="Growplex | App Home">
  <ClientState>
    <AppLayout pageName="Profile">
      <h1>Profile</h1>
    </AppLayout>
  </ClientState>
</Root>
