---
import Root from "../../layouts/Root.astro";
import General from "../../layouts/General.astro";
---

<Root>
  <General active="products">
    <h1>ALL SERVICES & PRODUCTS</h1>
  </General>
</Root>
