---
import "@/shared/styles/global.css";
import { ClientRouter } from "astro:transitions";

import Growplex from "@/shared/assets/icons/Growplex.svg";
import Posthog from "@/pages/_global/Posthog.astro";
import ThemeLoad from "@/pages/_global/ThemeLoad.astro";
import CookiesAccept from "@/pages/_global/CookiesAccept.svelte";
import PortalHost from "@/pages/_global/PortalHost.svelte";

const {
  title,
  favicon = Growplex.src,
  needCookies = true,
  loadTheme = true,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href={favicon} />

    <title>{title}</title>

    <ClientRouter />
    <Posthog />

    {loadTheme && <ThemeLoad />}

    <slot name="head" />
  </head>
  <body>
    <PortalHost client:only />

    <div transition:persist="chat-widget-root" id="chat-widget-root"></div>

    <slot />

    {needCookies && <CookiesAccept client:only />}
  </body>
</html>
