---
import { House, ArrowBigLeft, ChevronDown } from "@lucide/astro";
import AppGlobalState from "../app/AppGlobal.svelte";
import ThemeController from "../components/ThemeController.svelte";

const { pageName } = Astro.props;
---

<AppGlobalState client:only transition:persist name="app" />

<div class="flex h-screen overflow-hidden">
  <aside
    class:list={[
      "border-base-300 min-h-screen flex-col justify-between overflow-hidden border-r px-2 py-4 w-64",
      "hidden lg:flex",
    ]}
  >
    <div>
      <div class="mb-6 flex justify-center overflow-hidden text-xl font-bold">
        <a href="/app">growplex</a>
      </div>

      <nav class="flex flex-col items-center gap-2">
        <a
          class="bg-card border-base-300 flex w-full justify-center rounded border px-2 py-1"
          href="/app"
        >
          <div class="">
            <House />
          </div>
          <p class="ml-2 text-lg">Home</p>
        </a>
      </nav>
    </div>
  </aside>

  <div class="flex flex-1 flex-col">
    <header
      class="border-base-300 hidden justify-between border-b px-3 py-1 lg:flex"
    >
      <div class="flex items-center justify-center gap-1">
        <span class="text-lg font-semibold">{pageName}</span>
      </div>

      <div class="flex items-center gap-4">
        <ThemeController client:only />
        <div class="dropdown dropdown-bottom dropdown-end hover:cursor-pointer">
          <div tabindex="0" role="button">
            <div class="flex items-center">
              <div class="avatar">
                <div class="w-10 rounded-full">
                  <!-- <img
                    src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp"
                  /> -->
                </div>
              </div>
              <ChevronDown size={32} />
            </div>
          </div>

          <ul
            tabindex="0"
            class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
          >
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
            <li><a>Item 3</a></li>
            <li><a>Item 4</a></li>
            <li><a>Item 5</a></li>
            <li><a>Item 6</a></li>
          </ul>
        </div>
      </div>
    </header>

    <header
      class="border-base-300 flex justify-between border-b px-3 py-2 lg:hidden"
    >
      <button><ArrowBigLeft /></button>
      <h2>{pageName}</h2>
      <button><ArrowBigLeft /></button>
    </header>

    <main class="mx-auto w-full max-w-screen-xl flex-1 overflow-auto p-2">
      <slot />
    </main>

    <footer class="lg:hidden">
      <div class="dock">
        <button>
          <House />
          <span class="dock-label">Home</span>
        </button>

        <button class="dock-active">
          <House />
          <span class="dock-label">Inbox</span>
        </button>

        <button>
          <House />
          <span class="dock-label">Profile</span>
        </button>
      </div>
    </footer>
  </div>
</div>
