---
import { PUBLIC_CHAT_DOMAIN } from "astro:env/client";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import InjectChat from "../components/InjectChat.svelte";

const { active } = Astro.props;
---

<Header active={active} />

<main class="mt-4 px-2 mx-auto max-w-screen-xl">
  <slot />
</main>

<InjectChat client:only transition:persist name="chat" />

<Footer />
