---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

import Posthog from "../components/Posthog.astro";
import ThemeLoad from "../components/ThemeLoad.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CookiesAccept from "../components/CookiesAccept.svelte";

import ChatLoad from "./ChatLoad.astro";

const { title, active } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/LOGO.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
    <ThemeLoad />
    <ClientRouter />
    <Posthog />
  </head>
  <body>
    <Header active={active} />

    <main class="mt-4 px-2 mx-auto max-w-screen-xl">
      <slot />
    </main>

    <Footer />

    <CookiesAccept client:only />

    <ChatLoad />
  </body>
</html>
